/*FEATURE SECTION*/

.feature {
    max-width: 100vw;

}

.feature ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
}

.feature ul li {
    flex: 1;
    margin: 30px;
    box-shadow: var(--main-boxshadow);
    text-align: center;
    padding: 20px;
    min-width: 150px;
    min-height: 200px;
    position: relative;
    overflow: hidden;
}

.feature h3 {
    font-size: 0.8em;
    font-weight: bold;
    padding: 20px 0;
}

.feat_text {
    color: var(--lightgrey);
    line-height: 12px;
    font-size: 0.6em;
}


.feat_link {
    height: 15%;
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 4%;
    border-radius: 2px;
    padding: 1px 1px 0 1px;
    border: solid 2px white;
    
}

.feat_link a {
    color: white;
    
}

.feat_link h3 {
    padding: 10px;
    margin-top: 1px;    
    background-color: var(--main-bkcolor);
    font-weight: normal;
    
}

.feat_link:hover {
    border: solid 2px rgb(100, 170, 200);
}

@media only screen and (max-width: 768px) {
    .feature ul {
        flex-direction: column;
        align-items: center;
        margin: 0 50px;
    }

    .feature ul li {
        width: 250px;
    }
}