/*FOOTER*/

footer {
    display: flex;
    justify-content: center;
}

footer a {
    color: black;
}

.wrapper {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    border-top: solid 1px black;
}

/*********DESKTOP************/
.foot_column {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
}

.foot_column li {
    padding: 10px;
    font-size: 0.8em;
}

