@import "reset_sheet.css";

:root {
    --main-bkcolor: #3a3633;
    --main-boxshadow: 2px 2px 5px 1px rgb(200, 200, 200, 0.5), -2px -2px 5px 1px rgb(200, 200, 200, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header, section, footer {
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    
}

p {
    font-size: 0.8em;
    line-height: 20px;
}


/* HEADER */

header {
    background-color: var(--main-bkcolor);
    color: white;    
       
}

nav {
    width: 100vw;
    display: flex;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
        
}

.logo { 
    max-height: 50px;
    margin-left: 20px;   
}

/****DESKTOP*****/
.nav_menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 20px;
}

.nav_menu li {
    padding: 0 30px;
}
/****************/

/* INTRO SECTION */

.intro {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url("/imgs/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
} 


/****DESKTOP**** (H1 POSITION min 865px width)***/
.middle_container div:nth-of-type(1) {
    position: relative;
}

.intro h1 {
    position: absolute;
    top: 25%;
    padding-left: 10px;
}

/********************************************/

.intro h2 {
    padding-bottom: 20px;
}


.middle_container {
    border: white 5px solid;
    width: 85vw;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.middle_container div:nth-of-type(2) {
    width: 55%; 
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.textbox {
    display: flex;
    border-top: 1px dotted white;
    padding-top: 20px;
}

.textbox p {
    padding: 0 10px;
}

/*FEATURE SECTION*/

.feature {
    max-width: 100vw;

}

.feature ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
}

.feature ul li {
    flex: 1;
    margin: 30px;
    box-shadow: var(--main-boxshadow);
    text-align: center;
    padding: 20px;
    min-width: 150px;
    min-height: 200px;
    position: relative;
}

.feature h3 {
    font-size: 0.8em;
    font-weight: bold;
    padding: 20px 0;
}

.feat_text {
    color: var(--main-bkcolor);
    opacity: 0.9;
    line-height: 12px;
    font-size: 0.6em;
}

.feat_link {
    background-color: var(--main-bkcolor);
    color: white;
    height: 15%;
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 5%;
    border-radius: 2px;
}

.feat_link h3 {
    padding: 10px;
    font-weight: normal;
}

/*COOL SECTION*/

.cool {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.cool_rect {
    flex: 1;
}

.cool_text {
    background-color: var(--main-bkcolor);
    color: white;
}

.cool_text > * {
    padding-left: 30px;
    max-width: 80%;
}

.cool h2 {
    padding-top: 70px;
    font-size: 3em;
}

.cool p {
    font-size: 1.15em;
    line-height: 30px;
    padding-top: 30px;
}

.gradient {
    background-image: linear-gradient(to right, white , rgb(11, 178, 224));
    color: white;
    text-align: right;
}

.gradient > * {
    padding-right: 30px;
}

.cats {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.cats img {
    flex: 1;
    height: 50%;

}