@import "reset_sheet.css";
@import "header.css";
@import "intro.css";
@import "feature.css";
@import "cool.css";
@import "form.css";
@import "footer.css";

@keyframes slide {
    from {
        top: -50px;
        left: 30px;
    }
    
    to {
        top: -50px;
        left: 60%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(180deg) scale(1);
    }
    to {
        transform: rotate(180deg) scale(0);
    }
}

@keyframes disappear {
    from {
        transform: scale(1);
    }
    75% {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }   ]
}

:root {
    --main-bkcolor: #3a3633;
    --main-boxshadow: 2px 2px 5px 1px rgb(200, 200, 200, 0.5), -2px -2px 5px 1px rgb(200, 200, 200, 0.5);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header, section, footer {
}

h5 {
    font-size: 1.5em;
    color: white;
}

h4 {
    color: #e62e00;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    
}

p {
    font-size: 0.8em;
    line-height: 20px;
}

a {
    text-decoration: none;
}

input[type = email] {
    border-radius: 4px 0 0 4px;
}









